.searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;

    & .form {
        width: 40vw;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        border: 2px solid #63529a;
        border-radius: 8px;
        padding: 30px;
    }
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.errorMessage {
    position: fixed;
    width: 20vw;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1000;
}